h1 {
	color: rgb(0, 0, 0);
	font-size: 40px;
	font-weight: 400;
}

body {
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(103, 103, 103);
}

img { 
    width: 300px; 
    border-radius: 15px; 
}  

a {
    color:blueviolet
    }

nav{
    background-color: rgba(59, 57, 57, 0.134);
}
nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 120px;
}

nav ul li{
    width: 300px;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    white-space: nowrap;
    margin-right: 40px;
    padding: 0 15px;
    font-weight: bold;
    
    border: 2px solid-black;
    border-radius: 25px;
    background-color: white;
    display: inline-block; 
}
nav ul li a:hover{
    border-bottom: 2px solid black;
    color: rgba(59, 57, 57, 0.134);
    font-weight: bold;
}

p { 
    text-align: center;
    color:rgb(255, 255, 255)
}

h2 {
    text-align: center;
}

ul {
    color: rgb(255, 255, 255)
}

li {
    color:white
}

ul {
    color:white
}

#navbar {
    background-color: rgba(59, 57, 57, 0.134);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin: left 2002px;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #93cb52;
    border-radius: 5px;
}